In [1]:
# -*- Coding:UTF-8 -*-
import itertools
import tkinter as tk
import tkinter.ttk as ttk
import pandas as pd

def DataInitialization():
    tree.delete(*tree.get_children())

def InputCsv():
    df_2 = pd.read_csv("test_2.csv", encoding="SHIFT-JIS", usecols=['Team_田中', '報告者'])
    for i in range(len(df_2)):
        tree.insert("", "end", values=tuple([df_2.iloc[i, j] for j in range(len(df_2.columns))]))

def InputCsv_2():
    # print(tree.set(tree.selection()))
    for item in tree.selection():
        print(tree.set(item))



def FncInput():
    
    # Treeview初期化処理
    DataInitialization()
    
    # データ反映処理
    InputCsv()

def FncInput_2():
    
    # データ反映処理
    InputCsv_2()


#　データの読み込み
df_1 = pd.read_csv("test_1.csv", encoding="SHIFT-JIS", usecols=['Team_田中', '報告者'])
df_2 = pd.read_csv("test_2.csv", encoding="SHIFT-JIS", usecols=['Team_田中', '報告者'])

# ウィンドウの設定
base = tk.Tk()
base.title("承認者・報告者の一覧の確認")
canvas = tk.Canvas(base, width=1000, height=500, bd=0, highlightthickness=0)
canvas.pack()

#読込ボタン関係の設定
btn_inputcsv = tk.Button(base, text="ファイルの読み込み", command=FncInput)
btn_inputcsv.place(x=130, y=20)

btn_inputcsv = tk.Button(base, text="更新", command=FncInput_2)
btn_inputcsv.place(x=400, y=20)


# Treeviewの設定
tree_1 = ttk.Treeview(base, columns=[i for i in range(len(df_1.columns))])
tree_1["show"] = "headings"
for i in range(len(df_1)):
        tree_1.insert("", "end", values=tuple([df_1.iloc[i, j] for j in range(len(df_2.columns))]))

for i, col_name in enumerate(df_1.columns):
    tree_1.column(i, width=200)
    tree_1.heading(i, text=col_name)
tree_1.place(x=50, y=50)#.pack(side=position)#



# Treeviewの設定
tree = ttk.Treeview(base, columns=[i for i in range(len(df_2.columns))])
tree["show"] = "headings"
for i, col_name in enumerate(df_2.columns):
    tree.column(i, width=200)
    tree.heading(i, text=col_name)
tree.place(x=500, y=50)#.pack(side=position)#


base.mainloop()

In [2]:
import pandas as pd

test = [
    {'0': 'member_6', '1': 'member_7'},
    {'0': 'member_4', '1': 'member_6'},
    {'0': 'nan', '1': 'member_4'}
]

In [28]:
import numpy as np

all_list = []
for d in test:
    init_list = []
    for key, value in d.items():
        if value == 'nan':
            value = np.nan
        else:
            pass
        init_list.append(df_2[df_2.columns[int(key)]].isin([value]))
    
    all_list.append(pd.concat(init_list, axis=1).all(axis=1))

t = pd.concat(all_list, axis=1).any(axis=1)

In [35]:
temp = df_2[[df_2.columns[int(key)]]]
temp

        報告者
0  member_1
1  member_7
2  member_2
3  member_6
4  member_3
5  member_4

In [1]:
import pandas as pd

#　データの読み込み
df_1 = pd.read_csv("test_1.csv", encoding="SHIFT-JIS", usecols=['Team_田中', '報告者'])
df_2 = pd.read_csv("test_2.csv", encoding="SHIFT-JIS", usecols=['Team_田中', '報告者'])

In [2]:
df_1

     Team_田中       報告者
0   member_1  member_1
1   member_2  member_7
2   member_5  member_5
3   member_6  member_9
4   member_3  member_3
5   member_4  member_4
6   member_1  member_1
7   member_2  member_7
8   member_5  member_5
9   member_6  member_9
10  member_1  member_1
11  member_2  member_7
12  member_5  member_5
13  member_6  member_9
14  member_1  member_1
15  member_2  member_7
16  member_5  member_5
17  member_6  member_9
18  member_1  member_1
19  member_2  member_7
20  member_5  member_5
21  member_6  member_9
22  member_1  member_1
23  member_2  member_7
24  member_5  member_5
25  member_6  member_9
26  member_3  member_3
27  member_4  member_4